# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
L=list(range(1, 11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [2]:
L.append(20)
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [3]:
L.insert(4,0)
L.insert(4,0)
L

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [4]:
L.sort(reverse=True)
L

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [5]:
L.remove(0)
L.remove(0)
L

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [6]:
L.reverse()
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [7]:
"There are %d items on the list" % (len(L))

'There are 11 items on the list'

8. Give the minimum, maximum and the sum of all the items in the list

In [8]:
"The minimum is %d, The maximum is %d, The sum is %d" % (min(L),max(L),sum(L))

'The minimum is 1, The maximum is 20, The sum is 75'

9. What will happen if you multiply the list by 2?

In [8]:
L*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [9]:
#No

# Tupples
 
1. Create a tupple with three characters and four numbers

In [1]:
T=('a','b','c',1,2,3,4)
T

('a', 'b', 'c', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [2]:
T=T+(False,True)
T

('a', 'b', 'c', 1, 2, 3, 4, False, True)

3. Retrieve the third to sixth items from the tupple

In [3]:
print(T[2:6])

('c', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [4]:
b, num, char = [],[],[]

for i in T:
    if type(i) == bool:
        b.append(i)
    elif type(i) == int:
        num.append(i)
    else:
        char.append(i)
T2 = (char, num, b)
T2

(['a', 'b', 'c'], [1, 2, 3, 4], [False, True])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [15]:
phrase="Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
s =set(phrase.split(' '))
s

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [16]:
#There are the same words in the capital and small letters, we can use with the functions: s.upper(), s.lower()
phrase="Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
s_upper=set(phrase.upper().split(' '))
s_upper

{'A',
 'AN',
 'BIT-WISE',
 'COPY',
 'CREATED',
 'EXACT',
 'HAS',
 'IN',
 'IS',
 'NEW',
 'OBJECT',
 'OBJECT.',
 'OF',
 'ORIGINAL',
 'SHALLOW',
 'THAT',
 'THE',
 'VALUES'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [3]:
d={
    'EmployeeID':{'Name','Position','Phone'},
    1020:{'Harry Smith','Sales Manager','030-223.65.44'},
    2201:{'Margaret Holsum','Sales Representative','030-223.64.12'},
    3320:{'Lasly Howard','Human Resources','030-223.83.33'},
    8111:{'Larry Johnson','Project Manager','030-224.22.00'},
    2733:{'Hellen Young','Customer Service','030-223.03.20'}
  }
d

{'EmployeeID': {'Name', 'Phone', 'Position'},
 1020: {'030-223.65.44', 'Harry Smith', 'Sales Manager'},
 2201: {'030-223.64.12', 'Margaret Holsum', 'Sales Representative'},
 3320: {'030-223.83.33', 'Human Resources', 'Lasly Howard'},
 8111: {'030-224.22.00', 'Larry Johnson', 'Project Manager'},
 2733: {'030-223.03.20', 'Customer Service', 'Hellen Young'}}

1. Get all the keys of the dictionary

In [16]:
d.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [19]:
d.values()

dict_values([[1020, 2201, 3320, 8111, 2733], ['Harry Smith', 'Margaret Holsum', 'Lasly Howard', 'Larry Johnson', 'Hellen Young'], ['Sales Manager', 'Sales Representative', 'Human Resources', 'Project Manager', 'Customer Service'], ['030-223.65.44', '030-223.64.12', '030-223.83.33', '030-224.22.00', '030-223.03.20']])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [4]:
d[3320]

{'030-223.83.33', 'Human Resources', 'Lasly Howard'}

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [20]:
import math

for i in range(2,100):
    flage=0
    for j in range(2,int(math.sqrt(i))+1):
            if(i%j==0):
                flage=1
    if flage==0:
        print (i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [21]:
import math

i=2
while(i<101):
    flage=0
    j=2
    while(j<int(math.sqrt(i))+1):
        if(i%j==0):
            flage=1 
        j+=1
    if flage==0:
        print (i)
    i+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97